


services:
  db:
    image: mysql:8
    container_name: slavery-db
    restart: unless-stopped

    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u${MYSQL_USER}", "-p${MYSQL_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  app:
    image: cansefr/slavery-home-challenge-api:latest
    container_name: slavery-api
    restart: unless-stopped

    depends_on:
      db:
        condition: service_healthy

    env_file:
      - .env
    environment:
      DB_HOST: db

      DATASOURCE_USERNAME: ${MYSQL_USER}
      DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}

    ports:
      - "8080:8080"

volumes:
  db_data: